<p>login works!</p>

  
  <form action="" method="POST">
  <div class="col-lg-4 col-md-6 mb-4">
<div class="card">
<article class="card-body">
  
<h4 class="card-title mb-4 mt-1">Sign in</h4>
 <form>
<div class="form-group">
    <label>username</label>
    <input  class="form-control" placeholder="username" type="text"  name="uname">
</div> <!-- form-group// -->
<div class="form-group">
    
    <label>Your password</label>
    <input class="form-control" placeholder="******" type="password" name="pwd">
    <a class="float-right" href="#">Forgot?</a>
</div> <!-- form-group// --> 
<div class="form-group"> 
<div class="checkbox">
  <label> <input type="checkbox"> Save password </label>
</div> <!-- checkbox .// -->
</div> <!-- form-group// -->  
<div class="form-group">
    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
</div>
<div><a href="signup">signup not a user </a></div> <!-- form-group// -->                                                           
</form>
</article>
</div> </div></form>
